<div class="newsPage">
    <h2>News</h2>
    <div class="row">
      <!-- First Card -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">News</h5>
            <p class="card-text">Interesting news.</p> 
          </div>
        </div>
      </div>
      <!-- Second Card -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">News</h5>
            <p class="card-text">More interesting news.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  